* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Shared Styles */
.primary-button {
  background-color: #1d4ed8;
  padding: 16px 40px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
/* Navbar Styles */
.nav-links {
  width: 85%;
  margin: 0 auto;
  padding: 24px 0;
}
.nav-links div {
  display: flex;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: #575757;
}

/* Hero Section Styles */
.hero-section{
  padding: 130px 300px 80px;
  text-align: center;  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  
}

.hero-section h1{
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 16px;
  
}
.hero-section h1 span{
  font-style: italic;
}

.hero-section p{
  font-size: 22px;
  margin-bottom: 200px;
}

.hero-section button{
  font-size: 22px;
}
/* Speaker Section Styles */
.speaker-container{
  width: 85%;
  margin: 0 auto;
  padding: 80px 0 130px;
}
.speaker-container h1{
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
.speakers-info-container{
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 40px;
}

.speakers-info{
  border: 2px solid #E5E7EB;
  border-radius: 10px;
}
.speakers-info div{
  padding-left: 24px;
}

.speakers-info img{
  width: 100%;
  border-radius: 10px;
}

.speakers-info .subject{
  color: #2563EB;
  font-weight: 600;
  margin: 20px 0 10px;
}
.speakers-info h3{
  color: #0D1B2A;
  font-size: 20px;
  font-weight: bold;
}
.speakers-info .title{
  color: #575757;
  margin: 8px 0 24px;
}

/* Pricing Section Styles */
.pricing-container{
  width: 85%;
  margin: 0 auto;

}

.pricing-container h2{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.pricing-container .info{
  color: #575757;
  text-align: center;
  margin: 12px 0 50px;
}

.pricing-box-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.pricing-box{
  border: 2px solid #E5E7EB;
  padding: 50px;
  border-radius: 15px;
}
.pricing-box .pricing-pack{
  color: #888888;
  font-weight: 600;
}

.pricing-box .price{
  font-size: 44px;
  font-weight: bold;
  color: #0D1B2A;
  margin: 6px 0;

}

.pricing-box .pricing-person{
  color: #888888;
  font-size: 15px;
  margin-bottom: 20px;
}

.pricing-box hr{
  border: 1px solid #E5E7EB;
  margin-bottom: 20px;
}
.pricing-box ul li{
  color: #333333;
  list-style: disc;
  margin-bottom: 15px; 
  
}

.pricing-box ul li::marker{
  color: #2563EB;
}

.pricing-button{
  color: #2563EB;
  border: 1px solid #2563EB;
  padding: 12px 74px;
  background: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}
.pricing-box-highlight{
  background-color: #0D1B2A;
}
.pricing-pack-highlight{
  color: #93C5FD;
  font-weight: 600;
}
.price-highlight{
  font-size: 44px;
  font-weight: bold;
  color: white;
  margin: 6px 0;
}
.pricing-box-highlight ul li{
  color: white;
}
.pricing-box-highlight .pricing-button{
  background-color: #2563EB;
  color: white;
}

/* AI Hackathon Section Styles */

.hackathon{
    padding:90px 8%;
    background:#f8f9fc;
}

.container{
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#111827;
    margin-bottom:18px;
}

.section-title p{
    max-width:700px;
    margin:auto;
    color:#6b7280;
    line-height:1.8;
    font-size:17px;
}

.hackathon-content{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.hackathon-card{
    background:#fff;
    padding:35px 25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.35s;
}

.hackathon-card:hover{
    transform:translateY(-8px);
}

.hackathon-card h3{
    color:#2563eb;
    margin-bottom:18px;
    font-size:20px;
}

.hackathon-card h4{
    font-size:36px;
    color:#111827;
    margin-bottom:15px;
}

.hackathon-card p{
    color:#6b7280;
    line-height:1.7;
    font-size:15px;
}

.hackathon-card ul{
    list-style:none;
    padding:0;
    margin-top:15px;
}

.hackathon-card ul li{
    padding:8px 0;
    color:#444;
    border-bottom:1px solid #ececec;
}

.hackathon-card ul li:last-child{
    border:none;
}

.hackathon-btn{
    text-align:center;
    margin-top:50px;
}

.hackathon-btn a{
    display:inline-block;
    padding:16px 40px;
    background:#2563eb;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.hackathon-btn a:hover{
    background:#1747c9;
}


/* Footer Section Styles */
.footer{
  background-color: #0D1B2A;
  padding: 30px 0;
}
.footer-container{
  width: 85%;
  margin: 0 auto;

}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-media{
  display: flex;
  gap: 15px;
}
.footer-content a {
  color: white;
  font-size: 20px;
}

.footer hr{
  width: 100%;
  margin: 25px auto;
}

.footer-policy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-menu{
  display: flex;
  gap: 20px;
}